<div id="title-tagline">
<h1 id="title"><center>Gimme a Break!</center></h1>
<h2 id="tagline"><center>Find the perfect time to break, while you work.</center></h2>
</div>

<center><a class="button" href="/static_pages/analytics1">View Analytics</a></center>
