
<div id="title-tagline">
<h1 id="title"><center>Gimme a Break!</center></h1>
<h2 id="tagline"><center>Find the perfect time to break, while you work.</center></h2>
</div>

<center><a class="button" href="/static_pages/analytics1">View Analytics</a></center>

        <ul>
          <li><%= link_to "Sign In With Twitter", sign_in_with_microsoft_path %></li>
  </ul>
  <button class="ms-Button" onclick="window.location.href = '/login'">
					<span class="ms-Button-label"><%= t('connect_button') %></span>
  </button>


        <h1>Gimme A Break!</h1>

